@import url(style1.css);
@import url(footer-desing.css);

body{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 3% 85% 11%;
    grid-template-areas: 
    "top top top"
    "bottom1 bottom2 bottom3"
    "foot foot foot"
    ;
}
@media screen and (max-width:500px){
    body{
        display: grid;
        grid-template-columns: 5% 40% 5%;
        grid-template-rows: 1.5% 42.5% 5.5%;
        grid-template-areas: 
        "top top top"
        "bottom1 bottom2 bottom3"
        "foot foot foot"
        ;
    }
}
@media (min-width:500px)and (max-width:800px){
    body{
        display: grid;
        grid-template-columns: 7.5% 60% 7%;
        grid-template-rows: 3% 65% 8%;
        grid-template-areas: 
        "top top top"
        "bottom1 bottom2 bottom3"
        "foot foot foot"
        ;
    }
}
header{
    grid-area: top;
}
main{
    grid-area: bottom2;
    text-align: center;
    /* border: 1px dashed darkblue; */
}

footer{
    grid-area: foot;
    margin-top: 100px;
}
.posts{
    border: 1px dotted darkgreen;
}